<div class="order_info center">
    <strong>Costumer: </strong>
    <%= order.user.name %><br>
    <strong>Section:</strong>
    <%= order.section.name %><br>
    <strong>Date:</strong>
    <%= order.orderDate.strftime("%m/%d/%Y")%><br>
    <strong>Teacher:</strong>
    <%= order.teacher.name_and_number %>
  
    <table border="1" class="items_ordered center">
        <thead>
            <tr>
               <td>Name</td>
               <td>Quantity</td>
               <td>Unit Price</td>
               <td>Price</td>
            </tr>
        </thead>
        <tbody>
        <% order.transactions.each do |t| %>
            <tr>
                <td><%= t.item.name %></td>
                <td><%= t.quantity.to_s %></td>
                <td><%= t.item.price %></td>
                <td><%= t.price %></td>
        <% end %>
        </tbody>
    </table>
    Total Price: <%= order.total_price %>
</div>
<br>