<%= form_for(@search, :html => {:class => "form-horizontal center"}) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.collection_select :section_id, Section.all, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :name_and_number, include_blank: true %>
  </div>
  <div class="actions">
    <br><%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
