<p id="notice"><%= notice %></p>
<div class="center">
<h1><%= @item.name %></h1>

<%= image_tag @item.picture, size: ("200")%>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

</div>